body {
  margin: 0;
  padding: 0;

  font-family: "PTSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.site-navigation {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.user-navigation {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  list-style: none;
}

.main-navigation,
.site-navigation {
  background-color: #32425c;
}

.main-header {
  background-color: #f4f7f9;
}

.user-navigation a,
.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #1d2739;
}

.name-form {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
}

.name-form:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-link {
  background-color: #f4f7f9;
  color: #000000;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  text-decoration: underline;
}

.button-link:hover,
.button-link:focus {
  color: #ee3643;
}

.button-link:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-header-logo {
  background-color: #ee3643;
}

a.main-header-logo:hover,
a.main-header-logo:focus {
  background-color: #ca2c37;
}

.logo-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.contacts {
  font-family: "Cuprum", Arial, sans-serif;
  border: 1px solid #ffffff;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.adress {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.button-order {
  background-color: #63a63e;
}

a.button-order:hover,
a.button-order:focus {
  background-color: #5fbb2d;
}

a.button-order:active {
  background-color: #518534;
}

.search {
  color: #ffffff;
}

.search:hover {
  background-color: #212a3a;
}

.search:focus {
  background-color: #ffffff;
}
.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button-block-color {
  /* Задает стиль всем нажимаемым кнопкам на  цветных  вставках */
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 135px;
  height: 38px;
  color: #ffffff;
  position: absolute;
  left: 25px;
  top: 63px;
  text-align: center;
}

/* Объясни мне пожалуйста завтра, я опять не понимаю*/
a.button-block-color:hover,
a.button-block-color:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

a.button-block-color:active {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.3;
}
/* Задает стиль оформления цветовых блоков */
.block-color {
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
  color: #ffffff;
  font-size: 24px;
  width: 300px;
  height: 123px;
  font-weight: 700;
  text-align: left;
  display: block;
  position: relative;
  background-image: url("../img/icon-bucket.png");
  background-repeat: no-repeat;
  background-size: 44px 65px;
  background-position-x: 189px;
  background-position-y: 30px;
}

.bgcolor-orange {
  position: relative;
  background-color: #ffbf47;
  width: 300px;
}

.bgcolor-blue {
  position: relative;
  background-color: #3bbce3;
  width: 300px;
}

.bgcolor-violet {
  position: relative;
  background-color: #dc91d8;
  width: 300px;
}

.bgcolor-green {
  position: relative;
  background-color: #8ed78f;
  width: 300px;
}

.bgcolor-pale {
  position: relative;
  background-color: #ffc047;
  width: 300px;
}

.popular-it {
  /* Убирает точки у списка всех популярных товаров*/
  list-style: none;
}

.popular-card {
  /* Выделение популярных товаров  и производителей*/
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f9f5f0;
  position: relative;
  line-height: 30px;
  font-size: 30px;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  font-weight: normal;
}

.buttonred {
  /* Красные кнопки*/
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #ee3643;
  position: relative;
  top: -70px;
  left: 793px;
  color: white;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 10px;
}

.buttonred:hover,
.buttonred:focus {
  background-color: #ca2c37;
}

.buttonred:active {
  background-color: #ba2732;
}

.description-card {
  /* Карточка товара*/
  width: 220px;
  border: 1px solid #eaeaea;
  background-color: white;
}

.description-card:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.catalog-items {
  /* Описание товара в карточке товара*/
  font-family: "PTSans", Arial, sans-serif;
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  padding-top: 0px;
}

/* Вот тут надо было классы сделать на цены, я решил обойтись псевдоклассами
чтобы не прописывать на каждой карточке,  в результате сейчас например, не работает цвет на ссылке*/
/* я специально сейчас сделал display:block, чтобы отремонтировать эту часть кода*/
.link-card li {
  /* Всплывающие ссылки купить и  в  закладки  */
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgb(0, 0, 0);
  text-align: center;
  display: block;
  list-style: none;
}

.link-card li:first-child:hover,
.link-card li:first-child:focus {
  background-color: #5fbb2d;
  color: #000000;
}

.link-card li:first-child:active {
  background-color: #518534;
}

.link-card li:last-child:hover,
.link-card li:last-child:focus {
  border: solid 3px #32425c;
}

.link-card li:last-child:active {
  opacity: 0.3;
  border: solid 3px #32425c;
}

.test1:hover .test2 {
  display: block;
}

.top-price {
  /* зачеркнутая цена */
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #a9a9a9;
  text-align: center;
  text-decoration: line-through;
}

.bottom-price {
  /* цена на красной кнопке*/
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
  text-align: center;
  background-image: url("../img/red-button.png");
  vertical-align: bottom;
  background-repeat: no-repeat;
}

.maker-card {
  /* Оформление карточки  с названием производителя*/
  width: 220px;
  height: 145px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  text-align: center;
}

.maker-card:hover,
.maker-card:focus {
  box-shadow: 0px 10px 25px 0;
  color: rgba(41, 52, 73, 0.5);
}

.maker-card:active {
  box-shadow: 0px 4px 10px 0;
  color: rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.options {
  /* Описывает класс доп опций магазина*/
  background-color: #f4f7f9;
}

.services-options {
  /*Описывает заголовок секции */
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.delivery-options {
  /* Описание заголовков доп опций */
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
}

content-options {
  /* Описание текста в секции*/
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.section-title {
  /* Описывает заголовки секции*/
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.section-content {
  /* Описывает оформление текста в секции*/
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.delivery-services {
  /* Описываем список и маркировку тире*/
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

ul.delivery-services {
  list-style: none;
  margin-left: 10px;
}

ul.delivery-services li:before {
  content: "—";
  position: relative;
  left: -5px;
  color: #ee3643;
  font-weight: 700;
}

.footer-top {
  /* Описывает верхнюю часть футера*/
  background-color: #32425c;
  margin-top: 10px;
}

.footer-logo {
  /*Логотип футера */
  background-color: #ee3643;
}

.footer-links-top {
  /* Убирает маркировку у списка*/
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
}

.footer-links-top a {
  /* Описывает поведение первой строчки ссылок в футере*/
  color: #f1f5f7;
}
.footer-links-top a:hover,
.footer-links-top a:focus {
  text-decoration: underline;
}

.footer-links-top a:active {
  text-decoration: none;
  color: rgba (241 245 247, 0.5);
}

.footer-links-bottom {
  /*  Убираем маркировку списка */
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
}

.footer-links-bottom a {
  /* Описывает поведение нижней строчки ссылок в футере*/
  color: #ffd180;
}

.footer-links-bottom a:hover,
.footer-links-bottom a:focus {
  text-decoration: underline;
}

.footer-links-bottom a:active {
  text-decoration: none;
  color: (rgba 255 209 128, 0.5);
}

.contacts-footer {
  color: #f3f7f9;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 5px;
}

.footer-bottom {
  /* Описывает нижнюю часть футера*/
  background-color: #293449;
}

.rules-protect {
  /* Техническая инфо*/
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
}

.feedback {
  /* */
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
}

.footer-link-service {
  /*Описывает ссылки с служебной инфой */
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffd180;
}

.footer-link-service:hover,
.footer-link-service:focus {
  text-decoration: underline;
}

.footer-link-service:active {
  text-decoration: none;
  color: #ee3643;
}

.media {
  /* Убирает маркеры у списка медиа иконок*/
  list-style: none;
}

.media-link {
  /* Стилизует медиа иконки */
  background-color: #212a3a;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-link:hover,
.media-link:focus,
.media-link:active {
  background-color: #ee3643;
}

.text-slider {
  /* текс на слайдере*/
  position: relative;
  width: 100%;
}

.sign {
  /*Первая надпись на слайдере */
  position: absolute;
  width: 100%;
  left: 20px;
  top: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}

.sign-bottom {
  /* Вторая надпись на слайдере */
  position: absolute;
  width: 100%;
  left: 20px;
  top: 60px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  text-align: left;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
}

.slider-link {
  /*  Цветная кнопка на слайдере */
  position: absolute;
  top: 220px;
  left: 20px;
  color: #ffffff;
  background-color: #ee3643;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding: 10px;
}

.slider-link:hover,
.slider-link:focus {
  background-color: #ca2c37;
}

.slider-link:active {
  background-color: #ba2732;
}

.product-info {
  /* Задаем фон для секции */
  background-color: #f4f7f9;
}

.product-title {
  /* Заголовок*/
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}

.product-text {
  /* текст*/
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.section-items {
  background-color: #f2f6f8;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.page-number {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
  width: 38px;
  height: 38px;
  display: block;
}

.page-numbers {
  border: solid 1px #e5e5e5;
}

.page-numbers:hover,
.page-numbers:focus {
  border: solid 1px #bdc6ca;
}

.page-numbers:active {
  border: solid 1px #ee3643;
}

.sort {
  background-color: #f7f3ec;
  display: inline;
}

.sort-type {
  display: inline;
  background-color: #f7f3ec;
  border-bottom: 1px solid #ee3643;
  color: rgba(0, 0, 0, 0.3);
}

.sort-type:hover,
.sort-type:focus {
  color: #000000;
}

.sort-type:active {
  color: #ee3643;
}
